.react-router
build
node_modules
README.md

.git

.pnpm-store
**/dist
**/build
coverage
.next
.turbo
.DS_Store

.git
node_modules
pnpm-store
**/node_modules
**/.turbo
**/.next
**/dist
**/build
*.log
# Ignore root .env files (secrets should not be in repo)
/.env
/.env.*
# But allow .env files in apps/ (created by CI/CD)
!apps/**/.env
Dockerfile
docker-compose.yml