app = "sisub"
primary_region = "gru"

[build]
  dockerfile = "sisub.Dockerfile"
  context = "."

[env]
  NODE_ENV = "production"
  PORT = "3000"
  VITE_SUPABASE_URL = "https://jgigqdpdjgnnuwajtayh.supabase.co"
  
[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

  [[http_service.checks]]
    type = "http"
    method = "GET"
    path = "/health"
    interval = "15s"
    timeout = "5s"
    grace_period = "10s"  # aumente se sua app demora a iniciar
    tls_skip_verify = false

  [http_service.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

[processes]
  app = "pnpm start"
