app = "iefa"
primary_region = "gru"

[build]
  dockerfile = "../Dockerfile"
  context = ".."
  target = "iefa"

[env]
  NODE_ENV = "production"
  PORT = "3000"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

  [http_service.concurrency]
    type = "requests"
    soft_limit = 15
    hard_limit = 30

  [[http_service.checks]]
    type = "http"
    method = "GET"
    path = "/health"
    interval = "10s"
    timeout = "3s"
    grace_period = "20s"
    tls_skip_verify = false

[deploy]
  strategy = "rolling"



[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1