/* fonts.css */
@font-face {
	font-family: "Manrope";
	src: url("/fonts/Manrope-Variable.ttf") format("truetype");
	font-weight: 200 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url("/fonts/JetBrainsMono-Variable.ttf") format("truetype");
	font-weight: 100 800;
	font-style: normal;
	font-display: swap;
}
