name: Fly Deploy
on:
  push:
    branches:
      - main

jobs:
  deploy-api:
    name: Deploy API
    runs-on: ubuntu-latest
    concurrency:
      group: fly-deploy-api-${{ github.ref }}
      cancel-in-progress: true
    env:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup flyctl
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy API (from repo root)
        run: |
          # Passa os envs a partir dos secrets no momento do deploy
          flyctl deploy -c fly.api.toml \
            --env API_PORT=${{ secrets.API_PORT }} \
            --env API_SUPABASE_ANON_KEY=${{ secrets.API_SUPABASE_ANON_KEY }} \
            --env API_SUPABASE_URL=${{ secrets.API_SUPABASE_URL }}

  deploy-docs:
    name: Deploy Docs
    runs-on: ubuntu-latest
    concurrency:
      group: fly-deploy-docs-${{ github.ref }}
      cancel-in-progress: true
    env:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
    defaults:
      run:
        working-directory: ./apps/docs
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup flyctl
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy Docs
        run: flyctl deploy --remote-only